= form_for @ticket do |f|

  .ticket-category-form
    .service-select
      = collection_select(:ticket, :service, @services, :id, :name, {prompt: "Select a Service"}, {id: "service_select", required: true})

    .category-select
      = collection_select(:ticket, :category, @categories, :id, :name, {prompt: "Select a Category"}, {id: "category_select", required: true})

  .title-field.field
    = f.label :title
    = f.text_field :title, required: true

  .description-field.field
    = f.label :description
    = f.text_area :description, required: true

  .form-actions
    = f.submit
    or
    = link_to "Cancel", :back