= form_for @ticket do |f|

  .service-select
    = f.select :service, options_for_select(@services, @ticket.service.present? ? "#{@ticket.service.id}" : nil), {prompt: 'Select a Service'}, required: true

  .category-select
    = f.select :category, options_for_select(@categories, @ticket.category.present? ? "#{@ticket.category.id}" : nil), {prompt: 'Select a Category'}, required: true

  .title-field.field
    = f.label :title
    = f.text_field :title, required: true

  .description-field.field
    = f.label :description
    = f.text_area :description, required: true

  .form-actions
    = f.submit
    or
    = link_to "Cancel", :back