= form_for @ticket do |f|

  .service-select
    = collection_select :ticket, :service, @services, :id, :name, {prompt: 'Select a Service', required: true}

  .category-select
    = collection_select :ticket, :category, @categories, :id, :name, {prompt: 'Select a Category', required: true}

  .title-field.field
    = f.label :title
    = f.text_field :title, required: true

  .description-field.field
    = f.label :description
    = f.text_area :description, required: true

  .form-actions
    = f.submit
    or
    = link_to "Cancel", :back