%header
  %h3 Your Tickets
  = button_to "New Ticket", new_ticket_path, method: :get

%main
  - if @tickets.present?
    .main-wrap
      %ul.tickets-list
        - @tickets.each do |ticket|
          %li.ticket
            %span.ticket-state{class: "ticket-#{ticket.state}"}
              #{ticket.state.upcase}
            .ticket-details
              %span.ticket-title= link_to ticket.title, ticket
              %span.ticket-updated
                %span Last Updated
                #{formatted_time(ticket.updated_at)}
              .ticket-actions
                %span= button_to "Edit", edit_ticket_path(ticket)
                %span= button_to "Delete", ticket, method: :delete, data: { confirm: "Are you sure you want to delete this project?" }