%h3= @ticket.title

.service-field
  %h3 Service:
  %p= @ticket.service.name

.category-field
  %h3 Category:
  %p= @ticket.category.name


.description-field
  %h3 Description
  %p= @ticket.description

.ticket-actions
  %span= button_to "Edit", edit_ticket_path(@ticket), method: :get
  %span= button_to "Delete", @ticket, method: :delete, data: { confirm: "Are you sure you want to delete this project?" }